name: Linting

on:
  pull_request:
    branches:
      - main
      - develop
    paths:
      - "**.py"
      - "pyproject.toml"
      - "ruff.toml"
      - ".github/workflows/ruff-check.yml"

jobs:
  ruff:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4

      - name: Install uv
        uses: astral-sh/setup-uv@38f3f104447c67c051c4a08e39b64a148898af3a # v4

      - name: Run ruff check
        run: uvx ruff check .
