name: Linting

on:
  pull_request:
    branches:
      - main
      - develop
    paths:
      - "**.py"
      - "pyproject.toml"
      - "ruff.toml"
      - ".github/workflows/ruff-check.yml"

jobs:
  ruff:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install uv
        uses: astral-sh/setup-uv@v4

      - name: Run ruff check
        run: uvx ruff check .
