name: Linting

on:
  pull_request:
    branches:
      - main
      - develop
    paths:
      - "**.py"
      - "pyproject.toml"
      - "ruff.toml"
      - ".github/workflows/ruff-check.yml"

jobs:
  ruff:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6

      - name: Install uv
        uses: astral-sh/setup-uv@eac588ad8def6316056a12d4907a9d4d84ff7a3b # v7

      - name: Run ruff check
        run: uvx ruff check .
